<template>
    <div class="card">
        <div class="card-header" v-if="cliente.dealer">Informacion del cliente {{ - cliente.cedula}} Concesionario: {{ cliente.dealer.names}}</div>

        <div class="card-body">
            <div v-if="editMode" class= "row">
                <div v-if="editMode" class="form-group col-sm-4">
                    <label for="nombre">Nombre del cliente:</label>
                    <input type="text" class="form-control" v-model="cliente.names">
                </div> 
                <div v-if="editMode" class="form-group col-sm-4">
                    <label for="nombre">Apellido:</label>
                    <input type="text" class="form-control" v-model="cliente.surname">
                </div> 
                <div v-if="editMode" class="form-group col-sm-4">
                    <label for="nombre">Cedula:</label>
                    <input type="text" class="form-control" v-model="cliente.cedula">
                </div> 
                <div v-if="editMode" class="form-group col-sm-4">
                    <label for="nombre">Telefono:</label>
                    <input type="text" class="form-control" v-model="cliente.telefono">
                </div> 
                <div v-if="editMode" class="form-group col-sm-8">
                    <label for="nombre">Email:</label>
                    <input type="text" class="form-control" v-model="cliente.email">
                </div>  
            </div>
            <div v-else class= "row">
                <div class="col-sm-4">
                    <label for="name">Nombre:</label>
                    <b>{{ cliente.names }}</b>
                </div>
                <div class="col-sm-4">
                    <label for="surname">Apellido:</label>
                    <b>{{ cliente.surname }}</b>
                </div>
                <div class="col-sm-4">
                    <label for="cedula">Cedula:</label>
                    <b>{{ cliente.cedula }}</b>
                </div>
                <div class="col-sm-4">
                    <label for="telefono">Telefono:</label>
                    <b>{{ cliente.telefono }}</b>
                </div>
                <div class="col-sm-8">
                    <label for="email">Email:</label>
                    <b>{{ cliente.email }}</b>
                </div>                                                                           
            </div>                                    

        </div>

        <div class="card-footer">

            <button v-if="editMode" class="btn btn-success" v-on:click="onClickUpdate()">
                Guardar cambios
            </button>
            <button v-else class="btn btn-secondary" v-on:click="onClickEdit()">
                Editar
            </button>
            <button class="btn btn-danger" v-on:click="onClickDelete()">
                Eliminar
            </button>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['cliente'],
        data() {
            return {
                editMode: false
            };
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            onClickDelete(){
                var url = '/customer/' + this.cliente.id;
                //alert(url);
                axios.delete(url).then(() => {
                    this.$emit('delete');
                });
            },
            onClickEdit(){
                this.editMode = true;
            },
            onClickUpdate(){
                const params = {
                    names: this.cliente.names,
                    surname: this.cliente.surname,
                    cedula: this.cliente.cedula,
                    telefono: this.cliente.telefono,
                    email:this.cliente.email
                    
                };
                console.log(this.cliente.names);

                var url = '/customer/' + this.cliente.id;
                axios.put(url, params).then((response) => {
                    console.log(response.data);

                    this.editMode = false;
                    const cliente = response.data;
                    this.$emit('update', cliente);
                });
            }

        }
    }
</script>
