<template>
    <div class="card">
        <div class="card-header">¿Deseas registrar algun cliente?</div>

        <div class="card-body">
            <form class="row" action="" v-on:submit.prevent="newCliente()">
                <div class="form-group col-sm-4">
                    <label for="nombre">Nombre del cliente:</label>
                    <input type="text" class="form-control" name="nombre"
                    v-model="nombre">
                </div>
                <div class="form-group col-sm-4">
                    <label for="nombre">Apellido:</label>
                    <input type="text" class="form-control" name="apellido"
                    v-model="apellido">
                </div>
                <div class="form-group col-sm-4">
                    <label for="nombre">Cedula:</label>
                    <input type="text" class="form-control" name="cedula"
                    v-model="cedula">
                </div>
                <div class="form-group col-sm-4">
                    <label for="nombre">Telefono:</label>
                    <input type="text" class="form-control" name="telefono"
                    v-model="telefono">
                </div>
                <div class="form-group col-sm-8">
                    <label for="nombre">Email:</label>
                    <input type="text" class="form-control" name="email"
                    v-model="email">
                </div>
                <button type="submit" class="btn btn-primary">
                    Registrar
                </button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                nombre: '',
                apellido:'',
                cedula:'',
                telefono:'',
                email:'' 
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            newCliente() {
                const params ={
                    nombre: this.nombre,
                    apellido: this.apellido,
                    cedula: this.cedula,
                    telefono: this.telefono,
                    email: this.email
                };
                this.nombre = '';
                this.apellido = '';
                this.cedula = '';
                this.telefono = '';
                this.email = '';

                axios.post('/customer', params)
                    .then((response)=> {
                        const cliente = response.data;
                        this.$emit('new', cliente);
                    });
            }
        }
    }
</script>
