<template>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <form-component @new="addCliente"></form-component>

            <clientes-component
                v-for="(cliente, index) in clientes"
                :key="cliente.id"
                :cliente="cliente"
                @update="updateCliente(index, ...arguments)"
                @delete="deleteCliente(index)">
            </clientes-component>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                clientes: []
            }
        },

        mounted() {
            axios.get('/customer').then((response) => {
                this.clientes = response.data;
                console.log(this.clientes);
            });


        },

        methods: {
            addCliente(cliente){
                this.clientes.push(cliente);
            },

            updateCliente(index, cliente){
                this.clientes[index] = cliente;
            },

            deleteCliente(index){
                this.clientes.splice(index,1);
            }

        }
    }
</script>
